{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto">
        <div class="card card-signin my-5 bg-light text-dark">
          <div class="card-body">
            <h5 class="card-title text-center">Choose application:</h5>
            <div class="btn btn-block bg-light">
                {% for application in application_list %}
                  <a href="{{ application.get_absolute_url }}" class="btn btn-light">{{ application }}</a>
                  <br>
                {% endfor %}
                <br>
            {% if application_list.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if application_list.has_previous %}
                  <li class="page-item"><a class="page-link text-secondary" href="?page={{ application_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item"><span class="page-link text-secondary">&laquo;</span></li>
                {% endif %}
                {% for i in application_list.paginator.page_range %}
                  {% if application_list.number == i %}
                    <li class="active page-item"><span class="page-link text-secondary">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link text-secondary" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if application_list.has_next %}
                  <li class="page-item"><a class="page-link text-secondary" href="?page={{ application_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item"><span class="page-link text-secondary">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
                <form method="post" action=""> {% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" name="addnewapp" placeholder="Add new application">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">+</button>
                      </span>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}