<div class="paginator">
    {% with request.get_full_path as querystring %}
        <ul class="pagination nav navbar-nav">
            <!-- Previous page section -->
            {% if error_list.has_previous %}
                {% if 'type' in querystring %}
                    <li class="paginator {% if error_list.number == page %}active{% endif %}">
                        <a href="{{ querystring }}&page={{ error_list.previous_page_number }}">Prev</a>
                    </li>
                {% else %}
                    <li class="paginator {% if error_list.number == page %}active{% endif %}">
                        <a href="?page={{ error_list.previous_page_number }}">Prev</a>
                    </li>
                {% endif %}
            {% endif %}
            <!-- All pages section -->
            {% for page in error_list.paginator.page_range %}
                {% if 'type' in querystring %}
                    <li class="paginator {% if error_list.number == page %}active{% endif %}">
                        <a href="{{ querystring }}&page={{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="paginator {% if error_list.number == page %}active{% endif %}">
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- Next page section -->
            {% if error_list.has_next %}
                {% if 'type' in querystring %}
                    <li class="paginator {% if error_list.number == page %}active{% endif %}">
                        <a href="{{ querystring }}&page={{ error_list.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="paginator {% if error_list.number == page %}active{% endif %}">
                        <a href="?page={{ error_list.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    {% endwith %}
</div>